<div class="row add-todo-form-container">
	<div class="col-sm-12">
		<div class="form-group">
			<input type="text" class="form-control new-todo-content-text-editor" placeholder="To-do prompt...">
		</div>
		<div class="form-group">
			<label for="">Type</label>
			<select class="form-control todo-type">
				<option value="1">One from a list</option>
				<option value="2">One or more from a list</option>
				<option value="3">Number</option>
			</select>
		</div>
		<div class="form-group">
			<button class="btn btn-sm btn-primary create-todo">Add this to do</button><span class="between-button-text">or</span><button class="btn btn-link btn-sm cancel-todo-creation">Cancel</button>
		</div>
	</div>
</div>
