<div class="add-statement-form-container row">
	<div class="col-sm-12">
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="library-filter form-control" placeholder="Search library...">
				<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			</div>
			<div class="statement-library-container"><hr></div>
		</div>
		<div class="form-group">
			<label for="">Statement</label>
			<textarea rows="10" cols="80" class="new-statement-text-editor form-control" placeholder="Or write a new statement..."></textarea>
		</div>
		<div class="form-group">
			<label for="statement-type">Statement type</label> 
			<select name="statement-type" class="statement-type-selector form-control">
				<option value="1">General Statement</option>
				<option value="2">General Recommendation</option>
				<option value="3">Common Issue</option>
				<option value="4">Deficiency</option>
			</select>
		</div>
		<div class="form-group">
			<button class="btn btn-sm btn-primary create-statement">Add this statement</button><span class="between-button-text">or</span><button class="btn btn-link btn-sm cancel-statement-creation">Cancel</button>
		</div>
	</div>
</div>
