<div class="add-cya-form-container row">
	<div class="col-sm-12">
		<div class="form-group">
			<label for="">CYA content</label>
			<input type="text" class="form-control new-cya-text-editor">
		</div>
		<div class="form-group">
			<button class="btn btn-sm btn-primary create-cya">Add this CYA</button><span class="between-button-text">or</span><button class="btn btn-link btn-sm cancel-cya-creation">Cancel</button>
		</div>
	</div>
</div>
