<div class="edit-cya-form-container row">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<input type="text" class="cya-text-editor form-control">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<button class="btn btn-sm btn-primary save-cya">Save</button><span class="between-button-text">or</span><button class="btn btn-link btn-sm cancel-cya-update">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
