<div class="row edit-answer-form-container">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-1">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="selected">
					</label>
				</div>
			</div>
			<div class="col-sm-4">
			<div class="form-group">
				<input type="text" class="form-control answer-text-editor"> 
			</div>
			</div>
			<div class="col-sm-5">
				<div class="form-group">
					<select class="form-control edit-answer-inspector-statement">
						<option disabled="disabled">Statement to add to report</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<button class="btn btn-sm btn-primary save-answer">Save</button><span class="between-button-text">or</span><button class="btn btn-link btn-sm cancel-answer-update">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
