<div class="edit-inspector-statement-form-container row">
	<div class="col-sm-12">
		<div class="form-group">
			<label for="inspector-statement-text-editor">Statement content</label>
			<textarea rows="10" cols="80" class="inspector-statement-text-editor form-control"></textarea>
		</div>
		<div class="form-group">
			<label for="keyword-text-editor">Keyword(s)</label>
			<input class="keyword-text-editor form-control" type="text">
		</div>
		<div class="form-group">
			<label for="statement-type">Statement type</label> 
			<select name="statement-type" class="edit-inspector-statement-type-selector form-control">
				<option value="1">General Statement</option>
				<option value="2">General Recommendation</option>
				<option value="3">Common Issue</option>
				<option value="4">Deficiency</option>
			</select>
		</div>
		<div class="form-group">
			<button class="btn btn-sm btn-primary save-inspector-statement">Save</button>
			<span class="between-button-text">or</span>
			<button class="btn btn-link btn-sm cancel-inspector-statement-update">Cancel</button>
		</div>
	</div>
</div>
